<?xml version="1.0" ?>
<model>
  <name>uwb_sensor</name>
  <version>1.0</version>
  <sdf version="1.6">uwb.sdf</sdf>
  <author>
    <name>Albert</name>
    <email>vmthuan16052003@gmail.com</email>
  </author>
  <description>
    Simulated UWB tag using range sensor plugin.
  </description>
</model>
